services:
  mongodb:
    image: mongo:6
    container_name: mongo-procurement
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: procurement
    volumes:
      - mongo_data:/data/db

  keycloak-db:
    image: postgres:16
    container_name: keycloak-db
    restart: always
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:25.0
    container_name: keycloak
    restart: always
    depends_on:
      - keycloak-db
    ports:
      - "8080:8080"
    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak-db:5432/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak

      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_HOSTNAME_STRICT: "false"
      KC_HTTP_ENABLED: "true"
    command: ["start-dev"]

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: procurement-web
    restart: always
    depends_on:
      - api
    ports:
      - "4200:80"

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: procurement-api
    restart: always
    depends_on:
      - mongodb
      - keycloak
    ports:
      - "3000:3000"
    environment:
      PORT: 3000

      # Mongo внутри docker-сети (authSource=admin важно для root)
      MONGO_URI: mongodb://root:example@mongodb:27017/procurement?authSource=admin

      # Issuer должен совпадать с iss в токене (браузер получает токен с localhost)
      KEYCLOAK_ISSUER: http://localhost:8080/realms/procurement

      # А ключи берём по внутреннему адресу контейнера
      KEYCLOAK_JWKS_URI: http://keycloak:8080/realms/procurement/protocol/openid-connect/certs

      KEYCLOAK_CLIENT_ID: procurement-api

volumes:
  mongo_data:
  keycloak_db_data:
