services:
  mongodb:
    image: ${MONGO_IMAGE}
    container_name: ${MONGO_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    ports:
      - '${MONGO_PORT}:27017'
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    volumes:
      - mongo_data:/data/db

  keycloak-db:
    image: ${KEYCLOAK_DB_IMAGE}
    container_name: ${KEYCLOAK_DB_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    environment:
      POSTGRES_DB: ${KEYCLOAK_POSTGRES_DB}
      POSTGRES_USER: ${KEYCLOAK_POSTGRES_USER}
      POSTGRES_PASSWORD: ${KEYCLOAK_POSTGRES_PASSWORD}
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data

  keycloak:
    image: ${KEYCLOAK_IMAGE}
    container_name: ${KEYCLOAK_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    depends_on:
      - keycloak-db
    ports:
      - '${KEYCLOAK_PORT}:8080'
    environment:
      KC_DB: ${KC_DB}
      KC_DB_URL: ${KC_DB_URL}
      KC_DB_USERNAME: ${KC_DB_USERNAME}
      KC_DB_PASSWORD: ${KC_DB_PASSWORD}

      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}

      KC_HOSTNAME_STRICT: ${KC_HOSTNAME_STRICT}
      KC_HTTP_ENABLED: ${KC_HTTP_ENABLED}
      KC_HOSTNAME_STRICT_BACKCHANNEL: ${KC_HOSTNAME_STRICT_BACKCHANNEL}
    command: ['${KEYCLOAK_COMMAND}']

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    container_name: ${API_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    depends_on:
      - mongodb
      - keycloak
    ports:
      - '${API_PORT}:3000'
    environment:
      PORT: '${API_INTERNAL_PORT}'

      # Mongo внутри docker-сети (собираем из переменных)
      MONGO_URI: 'mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/${MONGO_INITDB_DATABASE}?authSource=admin'

      KEYCLOAK_ISSUER: ${KEYCLOAK_ISSUER}
      KEYCLOAK_ADMIN_BASE_URL: ${KEYCLOAK_ADMIN_BASE_URL}
      KEYCLOAK_JWKS_URI: ${KEYCLOAK_JWKS_URI}

      KEYCLOAK_ADMIN_CLIENT_ID: ${KEYCLOAK_ADMIN_CLIENT_ID}
      KEYCLOAK_ADMIN_CLIENT_SECRET: ${KEYCLOAK_ADMIN_CLIENT_SECRET}

      KEYCLOAK_ROLES_SOURCE_CLIENT_ID: ${KEYCLOAK_ROLES_SOURCE_CLIENT_ID}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_CLIENT_ID}

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: ${WEB_CONTAINER_NAME}
    restart: ${RESTART_POLICY}
    depends_on:
      - api
      - keycloak
    ports:
      - '${WEB_PORT}:80'

volumes:
  mongo_data:
  keycloak_db_data:
